<a href="https://colab.research.google.com/github/haraguro1126/Introduction-to-Data-Science/blob/master/20200517.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
primes_list = [2, 3, 5, 7, 11]
primes_list[-1] = 13 # update
print(primes_list)

primes_list.insert(-1, 11) # increase length
print(primes_list)

primes_list.pop()
print(primes_list)

[2, 3, 5, 7, 13]
[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11]

In [3]:
primes = (2, 3, 5, 7, 11)
print(type(primes))

<class 'tuple'>

In [4]:
x = 0.25
print(type(x))
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)

<class 'float'>
(1, 4)
<class 'tuple'>
1
4

In [5]:
def where_are_you_from(city, country):
    return city, country

print(where_are_you_from("Taipei", "Taiwan"))
print(type(where_are_you_from("Taipei", "Taiwan")))

my_city, my_country = where_are_you_from("Taipei", "Taiwan")
print(my_city)
print(my_country)

('Taipei', 'Taiwan')
<class 'tuple'>
Taipei
Taiwan

In [6]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}
print(the_avengers)
print(type(the_avengers))
print("------------------------------")

print(the_avengers.keys())
print(the_avengers.values())
print(the_avengers.items()) # 6 組 tuples

{'Iron Man': 'Tony Stark', 'Captain America': 'Steve Rogers', 'Hulk': 'Bruce Banner', 'Thor': 'Thor', 'Black Widow': 'Natasha Romanoff', 'Hawkeye': 'Clint Barton'}
<class 'dict'>
------------------------------
dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])
dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])
dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [7]:
living_area = input("請輸入您的居住城市:")

# 方法一
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
elif living_area == '新北市':
    living_cost = 15500
elif living_area == '桃園市':
    living_cost = 15281
elif living_area == '臺中市':
    living_cost = 14596
elif living_area == '臺南市':
    living_cost = 12388
elif living_area == '高雄市':
    living_cost = 13099
elif living_area == '非六都之縣市':
    living_cost = 12388
elif living_area == '金門縣連江縣':
    living_cost = 11648

if living_cost is None:
    print("請重新輸入居住縣市")
else:
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住城市:新北市
新北市的每人每月最低生活費為15,500

In [8]:
living_cost_dict = {
    '臺北市' : 17005,
    '新北市' : 15500,
    '桃園市' : 15281,
    '臺中市' : 14596,
    '臺南市' : 12388,
    '高雄市' : 13099,
    '非六都之縣市' : 12388,
    '金門縣連江縣' : 11648,
}
# 方法二
living_area = input("請輸入您的居住城市:")
try:
  living_cost = living_cost_dict[living_area]
  print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
except KeyError:
    print("請重新輸入居住縣市")

請輸入您的居住城市:新北市
新北市的每人每月最低生活費為15,500

In [9]:
living_cost_dict = {
    '臺北市' : 17005,
    '新北市' : 15500,
    '桃園市' : 15281,
    '臺中市' : 14596,
    '臺南市' : 12388,
    '高雄市' : 13099,
    '非六都之縣市' : 12388,
    '金門縣連江縣' : 11648,
}
# 方法三
#@title Default title text
living_area = '\u975E\u516D\u90FD\u4E4B\u7E23\u5E02' #@param ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市', '非六都之縣市', '金門縣連江縣']
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

非六都之縣市的每人每月最低生活費為12,388

In [10]:
primes = {2, 3, 5, 7, 11, 13}
print(primes)
print(type(primes))

primes_list = [2, 3, 3, 3, 5, 5]
print(primes_list)

print(set(primes_list))

primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}
<class 'set'>
[2, 3, 3, 3, 5, 5]
{2, 3, 5}
{2, 3, 5, 7, 11, 13}

In [11]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}
#交集(.intersection)
print(primes & odds)
print(primes.intersection(odds))
#聯集(.union)
print(primes | odds)
print(primes.union(odds))
#差異(.difference)
print(primes - odds)
print(odds - primes)
print(primes.difference(odds))
print(odds.difference(primes))
#對稱差異(.symmetric_difference)
print((primes - odds) | (odds - primes))
print(primes ^ odds)
print(primes.symmetric_difference(odds))

{3, 5, 7, 11, 13}
{3, 5, 7, 11, 13}
{1, 2, 3, 5, 7, 9, 11, 13}
{1, 2, 3, 5, 7, 9, 11, 13}
{2}
{1, 9}
{2}
{1, 9}
{1, 2, 9}
{1, 2, 9}
{1, 2, 9}